nav {
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
    padding: 1rem;
    background-color: rgb(173, 157, 157);
}

nav span {
    padding: 0.5rem;
    cursor: pointer;
}